.scroll-top {
    position: fixed;
    top: -140%;
    right: 3rem;
    padding: 1.2rem 1.5rem;
    font-size: 2rem;
    background: #ffae00;
    z-index: 10000;
    color: rgb(13, 0, 44);
    border-radius: 50%;
    transition: 1s linear;
    cursor: pointer;
}
.scroll-top.active{
    top: calc(100% - 12rem);

} 
