
@import '../src/styles/variables.css';




.btn {
    padding: 1.6rem 3rem;
    border: none;
    outline: none;
    border-radius: 4rem;
    transition: 0.3s;
    color: #fff;
    background: var(--button-bg);
    box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}
.btn:hover {
    background-color: white;
    color: var(--button-bg);
    border: 2px solid var(--button-bg);
    cursor: pointer;
}
.heading {
    font-size: 3.5rem;
    color: var(--heading-color);
    font-weight: 800;
    text-align: center;
}
.heading span{
    color: var(--heading-span);
}

.fa{
    position: relative;
    top: 0.3rem;
}


