@import '../../styles/variables.css';

.work {
    background: var(--work-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}
.work h2{
    color: #fff;
    padding: 1rem;
}

.work .heading span {
    color: rgb(255, 230, 0);
}

 .work .work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;   
    gap: 1.5rem;
    margin: 2rem;
} 
.work .viewall {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.work .viewall-btn{
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: 2px solid #fff;
    box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
    text-align: center;
}
.work .viewall-btn span{
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
}
.work .viewall-btn .fa{
    margin-left: 0.3rem;
    transition: 0.3s;
}
.viewall:hover .viewall-btn{
    background: #fff;
    color: black;
    transform: translateX(5px);
}


@media screen and (max-width: 900px) {
    .work .work-container {
        grid-template-columns: repeat(1, 1fr);
    } 
}